@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-tercearia: #22D4FD;
    --cor-hover: #37446c;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: #F6F6F6;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #37446c;
}

.titulo-destaque {
    color: var(--cor-tercearia);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo { 
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);  
}

.apresentacao__conteudo__lista {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__lista a{
    text-decoration: none;
    color: var(--cor-tercearia);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border: 2px solid var(--cor-tercearia);
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria); 
}

.apresentacao__links .apresentacao__links__navegacao:hover {
    padding: 5%;
    background-color: var(--cor-hover);
    font-size: 1.6rem;
}

.apresentacao__links .apresentacao__links__navegacao:active {
    background-color: #051035;
}

.foto {
    border-radius: 7% 25% 7% 25%;
    border: 2px solid var(--cor-tercearia);
    width: 50%;
}

.rodape {
    text-align: center;
    background: var(--cor-tercearia);
    color: var(--cor-primaria);
    padding: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

.about_texto {
    font-size: 1.1rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__certificados {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border: 2px solid var(--cor-tercearia);
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.4rem 0.5rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria); 
}

.botao__certificado {
    display: flex;   
    justify-content: center; 
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
        
    }
    
    .cabecalho__menu {
        justify-content: space-evenly;
        gap: 1.8rem;
    }

    .cabecalho__menu__link {
        width: 30%;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;    
    }

    .apresentacao__conteudo {
        width: auto;
    }
}